{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мої Улюблені Місця</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'places/css/style.css' %}">
</head>
<body>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <h4>📍 МісцеНаКарті</h4>
                </a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{% url 'home' %}" class="nav-link px-2 link-secondary">Головна</a></li>
                    <li><a href="{% url 'place_list' %}" class="nav-link px-2 link-dark">Усі місця</a></li>
                    <li><a href="{% url 'add_place' %}" class="nav-link px-2 link-dark">Додати місце</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">Сайт створено у 2025 році. (С) Волинчук Павло</span>
        </div>
    </footer>
</body>
</html>